.container {
  width: auto;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px
}

.mobile-visible {
  display: none
}

@media (max-width:60em) {
  .collection-card {
    width: 45%;
    height: 225px
  }
}

@media (max-width:35em) {
  .collection-card {
    width: 100%;
    max-width: 350px;
    margin: 10px auto
  }
}

.octicon-x {
  display: none;
}

@media (max-width:50em) {
  .mobile-block {
    display: block;
    float: none
  }
  .mobile-hidden {
    display: none
  }
  .mobile-visible {
    display: inline-block
  }
  .mobile-md-section {
    padding: 10px 0
  }
  .column,
  .one-third-column {
    width: 100%!important;
    float: none;
  }
  .home .banner .collection-head {
    padding: 1rem 1rem 1rem 0;
  }
  .home .collection-head .collection-title {
    padding: 0;
  }
  .collection-head .collection-header {
    line-height: 1;
  }
  .collection-head.small .collection-title h1.collection-header {
    font-size: 1.25em;
  }
  .collection-head .collection-info .meta-info,
  .collection-head .collection-info .meta-info .octicon {
    font-size: 0.75em;
  }
  .site-header {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .site-header h1, .site-header h1 .octicon {
    font-size: 1em;
  }
  .site-header .site-header-nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    text-align: center;
    left: 100vw;
    z-index: 999;
    text-align: right;
    transition: left 0.3s;
  }
  .site-header .site-header-nav-show {
    left: 0;
  }
  .site-header-nav-container {
    float: right;
    height: 100vh;
    width: 76vw;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  }
  .octicon-x {
    display: inline-block;
    color: #666666;
    font-size: 26px;
    padding: 0 0 20px 20px;
  }
  .site-header .site-header-nav .site-header-nav-item {
    padding: 0;
    margin-left: 0;
    font-size: 1rem;
    display: block;
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(6, 8, 40, .08);
    text-align: left;
    color: #777777 !important;
  }
  .collapsed {
    float: right;
    display: block;
    width: 22px;
    height: 2em;
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  .collapsed:active {
    border: 1px solid transparent;
  }

  .collapsed .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #563d7c;
  }

  .collapsed .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .markdown-body h1 {
    font-size: 2rem
  }
  .markdown-body h2 {
    font-size: 1.4rem
  }
  .markdown-body h3 {
    font-size: 1.2rem
  }
  .markdown-body h4 {
    font-size: 1.1em
  }
  .markdown-body h5 {
    font-size: 1em
  }

  .tools-wrapper {
    bottom: 1em;
  }
}

@media (max-width:20em) {
  .site-header-nav .site-header-nav-item {
    min-width: 20%
  }
  .collection-head .collection-info .meta-info {
    display: block;
    margin-top: 15px
  }
}
