@import url('/assets/vendor/primer-css/css/primer.css');
@import url('/assets/vendor/primer-markdown/dist/user-content.min.css');
@import url('/assets/vendor/octicons/octicons/octicons.css');
@import url('./components/collection.css');

/* 首页列表 */
.home-container {
  position: relative;
  z-index: 2;
}
.banner {
  color: #fff;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6) url('https://gitee.com/xiangming25/assets/raw/master/images/banner.jpg') no-repeat center center;
  background-size: 100% 100%;
}
@media (max-width: 768px) {
  .banner {
    background: rgba(0, 0, 0, 0.6) url('https://gitee.com/xiangming25/assets/raw/master/images/1612494260300-banner_1000x491.jpg') no-repeat center center;
    background-size: 100% 100%;
  }
}
.home .banner .collection-head {
  position: relative;
  color: #fff;
  background: 0 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-top: -73px;
  padding-top: 73px;
}
.home .banner .collection-head::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.home .site-header {
  border-bottom: none;
  z-index: 999
}

.home .site-header h1 a {
    color: #fff
}

.home .site-header .site-header-nav-item {
    color: #ffffff;
}

.home .site-header .site-header-nav-item:hover {
    color: #fff
}

@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: white;
  }
  .home .collection-head {
    height: 150px;
  }
  .collection-title {
    width: 100vw;
  }
  .home .collection-head .collection-header {
    font-size: 1.1em;
    margin-top: 20px;
    text-align: center;
  }
  .collection-info {
    display: none;
  }
}

.repo-list-name,.repo-list-name .prefix,.repo-list-name .slash {
	font-weight: 400
}

.repo-list {
	position: relative;
	padding-left: 0
}

.repo-list-item {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	list-style: none;
	border-bottom: 1px solid #eee
}

.repo-list-name {
	margin: 0 0 8px;
	font-size: 20px;
	line-height: 1.2
}

.repo-list-name:hover {
	text-decoration: none;
	color: #4169E1
}

.repo-list-description {
	max-width: 550px;
	margin-top: 8px;
	margin-bottom: 0;
	font-size: 14px;
	color: #666
}

.repo-list-meta {
	display: block;
	margin-top: 8px;
	margin-bottom: 0;
	font-size: 13px;
	color: #999
}

.repo-list-meta .avatar {
	margin-top: -2px
}

.repo-list-meta a:hover {
	text-decoration: none
}

.repo-list-meta .meta-info {
	margin-right: 15px
}

.repo-list-meta .meta-info a {
	color: #999
}

.repo-list-meta .meta-info a:hover,.repo-list-meta .meta-info a:hover {
	text-decoration: underline
}

/* sidebar-search */
#search_results {
  font-size: 14px;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 10px;
}

/* prism */
code[class*=language-],pre[class*=language-]{color:#000;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono',monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f9f9f9}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#a67f59;background:rgba(255,255,255,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.function{color:#DD4A68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}

/* common */
.site-header,.site-header-actions .select-menu{position:relative}.markdown-body,body{font-family:Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,"宋体",Helvetica,Tahoma,Arial sans-serif;font-size:16px;line-height:1.6;word-wrap:break-word;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:antialiased;-webkit-backface-visibility:hidden}@font-face{font-family:octicons;src:font-url(../fonts/octicons.eot?#iefix) format("embedded-opentype"),font-url(../fonts/octicons.woff) format("woff"),font-url(../fonts/octicons.ttf) format("truetype"),font-url(../fonts/octicons.svg#octicons) format("svg");font-weight:400;font-style:normal}.pagination{padding:20px 0}.pagination a.active{background:#337ab7;border-color:#337ab7;z-index:2;color:#fff;cursor:default}.text-center{text-align:center}.btn-inline .btn{margin:5px}.site-header{padding-top:20px;padding-bottom:20px;border-bottom:1px solid #eee}.site-header .account-switcher{display:inline-block;margin-top:-2px;margin-bottom:-6px}.site-header-actions .select-menu:after,.site-header-actions .select-menu:before{display:table;content:""}.site-header ul.site-header-actions{z-index:21;float:right;margin:0}.site-header ul.site-header-actions .feed-icon{margin-top:5px}.site-header .path-divider{margin:0 .25em}.site-header h1{float:left}.site-header h1,.site-header h1 .octicon{margin-top:0;margin-bottom:0;font-size:32px;font-weight:400;line-height:28px;vertical-align:top}.context-loader,.markdown-body dl dt,.markdown-body table th,.pl-mb,.pl-mdr,.pl-mh,.pl-mh .pl-en,.pl-ms,.pl-sr .pl-cce,.site-header h1 strong{font-weight:700}.site-header h1 a{white-space:nowrap;color:#333}.site-header h1 a:hover{text-decoration:none}.site-header h1 .avatar{margin-top:-2px;margin-right:9px;margin-bottom:-2px}.site-header-actions>li{float:left;margin:0 10px 0 0;font-size:11px;color:#333;list-style-type:none}.site-header-actions>li:last-child{margin-right:0}.site-header-actions .octicon-mute{color:#c00}.site-header-actions .select-menu:after{clear:both}.site-header-actions .select-menu-modal-holder{top:100%}.context-loader{position:absolute;top:0;left:50%;z-index:20;width:154px;padding:10px 10px 10px 30px;margin-left:-75px;font-size:12px;color:#666;background:url(../images/min/octocat-spinner-16px.gif) 10px 50% no-repeat #eee;border:1px solid #ddd;border-top:1px solid #fff;border-radius:0 0 5px 5px}@media screen and (-webkit-min-device-pixel-ratio:2),screen and (max--moz-device-pixel-ratio:2){.context-loader{background:url(../images/min/octocat-spinner-32-EAF2F5.gif) 10px 50% no-repeat #eee;background-size:16px auto}}.site-header-nav{float:right;margin-bottom:-20px}.site-header-nav-item{display:inline-block;padding:6px 10px 15px;margin-left:1.25rem;font-size:1rem;color:#777}.site-footer:after,.site-footer:before{display:table;content:""}.site-header-nav-item:hover{color:#333;text-decoration:none}.site-header-nav-item.selected{color:#333;padding:6px 10px 13px;border-bottom:2px solid #d26911}.site-header-nav-item+.btn-outline{margin-top:-1px;margin-left:20px}.site-footer{position:relative;margin-top:40px;padding-top:40px;padding-bottom:40px;font-size:12px;line-height:1.5;color:#777;border-top:1px solid #eee}.markdown-body h1,.markdown-body h2{padding-bottom:.3em;border-bottom:1px solid #eee}.site-footer .copyright{padding-right:20px}.site-footer:after{clear:both}.site-footer .octicon-mark-github{position:absolute;top:38px;left:50%;height:24px;width:24px;margin-left:-12px;font-size:24px;color:#ccc}.site-footer .octicon-mark-github:hover{color:#bbb}.site-footer-links{margin:0;list-style:none}.site-footer-links li{display:inline-block;line-height:16px}.site-footer-links li+li{margin-left:10px}.markdown-body{overflow:hidden}.markdown-body>:first-child{margin-top:0!important}.markdown-body>:last-child{margin-bottom:0!important}.markdown-body a:not([href]){color:inherit;text-decoration:none}.markdown-body .absent{color:#c00}.markdown-body .anchor{position:absolute;top:0;left:0;display:block;padding-right:6px;padding-left:30px;margin-left:-30px}.markdown-body .anchor:focus{outline:0}.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6{position:relative;margin-top:1em;margin-bottom:16px;font-weight:700;line-height:1.4}.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link{display:none;color:#000;vertical-align:middle}.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor{padding-left:8px;margin-left:-30px;text-decoration:none}
.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link{display:inline-block}.markdown-body h1 code,.markdown-body h1 tt,.markdown-body h2 code,.markdown-body h2 tt,.markdown-body h3 code,.markdown-body h3 tt,.markdown-body h4 code,.markdown-body h4 tt,.markdown-body h5 code,.markdown-body h5 tt,.markdown-body h6 code,.markdown-body h6 tt{font-size:inherit}.markdown-body h1{font-size:2.25em;line-height:1.2}.markdown-body h1 .anchor{line-height:1}.markdown-body h2{font-size:1.5em;line-height:1.225}.markdown-body h2 .anchor{line-height:1}.markdown-body h3{font-size:1.5em;line-height:1.43}.markdown-body h3 .anchor,.markdown-body h4 .anchor{line-height:1.2}.markdown-body h4{font-size:1.25em}.markdown-body h5 .anchor,.markdown-body h6 .anchor{line-height:1.1}.markdown-body h5{font-size:1em}.markdown-body h6{font-size:1em;color:#777}.markdown-body blockquote,.markdown-body dl,.markdown-body ol,.markdown-body p,.markdown-body pre,.markdown-body table,.markdown-body ul{margin-top:0;margin-bottom:16px}.markdown-body hr{height:4px;padding:0;margin:16px 0;background-color:#e7e7e7;border:0}.markdown-body ol,.markdown-body ul{padding-left:2em}.markdown-body ol.no-list,.markdown-body ul.no-list{padding:0;list-style-type:none}.markdown-body ol ol,.markdown-body ol ul,.markdown-body ul ol,.markdown-body ul ul{margin-top:0;margin-bottom:0}.markdown-body li>p{margin-top:16px}.markdown-body dl{padding:0}.markdown-body dl dt{padding:0;margin-top:16px;font-size:1em;font-style:italic}.markdown-body dl dd{padding:0 16px;margin-bottom:16px}.markdown-body blockquote{padding:0 15px;color:#777;border-left:4px solid #ddd}.markdown-body blockquote>:first-child{margin-top:0}.markdown-body blockquote>:last-child{margin-bottom:0}.markdown-body table{display:block;width:100%;overflow:auto;word-break:normal;word-break:keep-all}.markdown-body table td,.markdown-body table th{padding:6px 13px;border:1px solid #ddd}.markdown-body table tr{background-color:#fff;border-top:1px solid #ccc}.markdown-body table tr:nth-child(2n){background-color:#f8f8f8}.markdown-body img{max-width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.markdown-body .emoji{max-width:none}.markdown-body span.frame{display:block;overflow:hidden}.markdown-body span.frame>span{display:block;float:left;width:auto;padding:7px;margin:13px 0 0;overflow:hidden;border:1px solid #ddd}.markdown-body span.frame span img{display:block;float:left}.markdown-body span.frame span span{display:block;padding:5px 0 0;clear:both;color:#333}.markdown-body span.align-center{display:block;overflow:hidden;clear:both}.markdown-body span.align-center>span{display:block;margin:13px auto 0;overflow:hidden;text-align:center}.markdown-body span.align-center span img{margin:0 auto;text-align:center}.markdown-body span.align-right{display:block;overflow:hidden;clear:both}.markdown-body span.align-right>span{display:block;margin:13px 0 0;overflow:hidden;text-align:right}.markdown-body span.align-right span img{margin:0;text-align:right}.markdown-body span.float-left{display:block;float:left;margin-right:13px;overflow:hidden}.markdown-body span.float-left span{margin:13px 0 0}.markdown-body span.float-right{display:block;float:right;margin-left:13px;overflow:hidden}.markdown-body span.float-right>span{display:block;margin:13px auto 0;overflow:hidden;text-align:right}.markdown-body code,.markdown-body tt{padding:.2em 0;margin:0;font-size:85%;background-color:rgba(0,0,0,.04);border-radius:3px}.markdown-body code:after,.markdown-body code:before,.markdown-body tt:after,.markdown-body tt:before{letter-spacing:-.2em;content:" "}.markdown-body code br,.markdown-body tt br{display:none}.markdown-body del code{text-decoration:inherit}.markdown-body pre>code{padding:0;margin:0;font-size:100%;word-break:normal;white-space:pre;background:0;border:0}.markdown-body .highlight{margin-bottom:16px}.markdown-body .highlight pre,.markdown-body pre{padding:16px;overflow:auto;font-size:85%;line-height:1.45;background-color:#f7f7f7;border-radius:3px}.markdown-body .highlight pre{margin-bottom:0;word-break:normal}.markdown-body pre{word-wrap:normal}.markdown-body pre code,.markdown-body pre tt{display:inline;max-width:initial;padding:0;margin:0;overflow:initial;line-height:inherit;word-wrap:normal;background-color:transparent;border:0}.markdown-body pre code:after,.markdown-body pre code:before,.markdown-body pre tt:after,.markdown-body pre tt:before{content:normal}.markdown-body kbd{display:inline-block;padding:3px 5px;font-size:11px;line-height:10px;color:#555;vertical-align:middle;background-color:#fcfcfc;border:1px solid #ccc;border-bottom-color:#bbb;border-radius:3px;-webkit-box-shadow:inset 0 -1px 0 #bbb;box-shadow:inset 0 -1px 0 #bbb}.pl-c{color:#969896}
.pl-c1,.pl-s .pl-v{color:#0086b3}.pl-e,.pl-en{color:#795da3}.pl-s .pl-s1,.pl-smi{color:#333}.pl-ent{color:#63a35c}.pl-k{color:#a71d5d}.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre{color:#183691}.pl-v{color:#ed6a43}.pl-id{color:#b52a1d}.pl-ii{background-color:#b52a1d;color:#f8f8f8}.pl-sr .pl-cce{color:#63a35c}.pl-ml{color:#693a17}.pl-mh,.pl-mh .pl-en,.pl-ms{color:#1d3e81}.pl-mq{color:teal}.pl-mi{color:#333;font-style:italic}.pl-mb{color:#333}.pl-md{background-color:#ffecec;color:#bd2c00}.pl-mi1{background-color:#eaffea;color:#55a532}.pl-mdr{color:#795da3}.pl-mo{color:#1d3e81}pre{border:1px solid #ccc}.tools-wrapper{position:fixed;right:1em;bottom:3.4375em;z-index:9;width:2.5em}.tools-wrapper a{color:#999;text-align:center;margin-bottom:-1px;background:rgba(255,255,255,32)}.tools-wrapper span.octicon{font-size:1.5em}.tools-wrapper .gotop{display:none}.logo{margin-top: 0;margin-bottom: 0;font-size: 32px;font-weight: 400;line-height: 28px;display: inline-block;vertical-align: middle;color: white;}.logo .octicon {font-size: 32px;display: inline-block;vertical-align: middle;width: 32px;height: 32px;background: url(https://gitee.com/xiangming25/assets/raw/master/images/logo.jpg) no-repeat center center; background-size: 100% 100%;border-radius: 50%;} .site-header .logo {color: #333333;text-decoration: none;}.home .site-header .logo {color: #ffffff;text-decoration: none;}.logo .title { display: inline-block;vertical-align: middle; }.logo::before { display: inline-block;vertical-align: middle;width: 0;height: 100%;content: ''; }

@media (max-width: 768px) {
  .logo {
    font-size: 16px;
  }
  .logo .octicon {
    width: 20px;
    height: 20px;
  }
  .pc-only {
    display: none;
  }
}
@media (min-width: 768px) {
  .mob-only {
    display: none;
  }
}
.qrcode-img {
  width: 180px;
  height: 180px;
}

/* post index */

#post-directory-module {
  z-index: 999;
}

.post-directory {
  font-size: 14px;
  background: #fff;
  overflow: hidden;
  width: 300px;
  padding-bottom: 1em;
  border: 1px solid #efefef;
  color: #999;
}

.post-directory ul,
.post-directory ol {
  padding-left: 1.5em;
  list-style: none;
}

.post-directory strong {
  border-left: 5px solid #999;
  padding: 2px 5px 2px 15px;
}

.post-directory a {
  text-decoration: none;
  color: #bababa;
}

.post-directory a:hover,
.post-directory a:active,
.post-directory a.on {
  color: #4183c4;
}

.posts-list {
  line-height: 2;
  color: #555;
  list-style-type:disc;
}

.posts-list::before {
/*    content: " ";*/
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}

.posts-list-item {
  border-bottom: 1px dashed #ccc;
  margin: 10px;
  padding: 0;
}

.posts-list-item a {
  font-size: 16px;
  font-weight: normal;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: inherit;
  color: #666;
}

.posts-list-meta {
  font-size: 12px;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: 2;
  color: #555;
  background: #fff;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}


.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group-item>.badge {
  float: right;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.page-error {
  width: 100%;
  min-height: 280px;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
}
@media (min-width:750px) {
  .page-error {
      min-width: 1000px;
  }
}
.page-error .img-error {
  display: inline-block;
  width: 100%;
  max-width: 720px;
}

.qrcode {
  margin-top: 100px;
  text-align: center;
}
.qrcode-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.qrcode-img {
  width: 180px;
}
.qrcode-desc {
  font-size: 14px;
  color: #424244;
}
.hand {
  position: relative;
  height: 50px;
  overflow: hidden;
  text-align: center;
  margin: 5px 0;
}
.hand-animate {
  display: block;
  font-size: 30px;
  animation: tips 1s linear infinite;
}

@keyframes tips {
  0% {
      margin-top: 0;
  }

  50% {
      margin-top: 10px;
  }

  100% {
      margin-top: 0;
  }
}

/* responsive */

.container {
  width: auto;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px
}

.mobile-visible {
  display: none
}

@media (max-width:60em) {
  .collection-card {
    width: 45%;
    height: 225px
  }
}

@media (max-width:35em) {
  .collection-card {
    width: 100%;
    max-width: 350px;
    margin: 10px auto
  }
}

.octicon-x {
  display: none;
}

@media (max-width:50em) {
  .mobile-block {
    display: block;
    float: none
  }
  .mobile-hidden {
    display: none
  }
  .mobile-visible {
    display: inline-block
  }
  .mobile-md-section {
    padding: 10px 0
  }
  .column,
  .one-third-column {
    width: 100%!important;
    float: none;
  }
  .home .banner .collection-head {
    padding: 1rem 1rem 1rem 0;
  }
  .home .collection-head .collection-title {
    padding: 0;
  }
  .collection-head .collection-header {
    line-height: 1;
  }
  .collection-head.small .collection-title h1.collection-header {
    font-size: 1.25em;
  }
  .collection-head .collection-info .meta-info,
  .collection-head .collection-info .meta-info .octicon {
    font-size: 0.75em;
  }
  .site-header {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .site-header h1, .site-header h1 .octicon {
    font-size: 1em;
  }
  .site-header .site-header-nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    text-align: center;
    left: 100vw;
    z-index: 999;
    text-align: right;
    transition: left 0.3s;
  }
  .site-header .site-header-nav-show {
    left: 0;
  }
  .site-header-nav-container {
    float: right;
    height: 100vh;
    width: 76vw;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  }
  .octicon-x {
    display: inline-block;
    color: #666666;
    font-size: 26px;
    padding: 0 0 20px 20px;
  }
  .site-header .site-header-nav .site-header-nav-item {
    padding: 0;
    margin-left: 0;
    font-size: 1rem;
    display: block;
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(6, 8, 40, .08);
    text-align: left;
    color: #777777 !important;
  }
  .collapsed {
    float: right;
    display: block;
    width: 22px;
    height: 2em;
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  .collapsed:active {
    border: 1px solid transparent;
  }

  .collapsed .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #563d7c;
  }

  .collapsed .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .markdown-body h1 {
    font-size: 2rem
  }
  .markdown-body h2 {
    font-size: 1.4rem
  }
  .markdown-body h3 {
    font-size: 1.2rem
  }
  .markdown-body h4 {
    font-size: 1.1em
  }
  .markdown-body h5 {
    font-size: 1em
  }

  .tools-wrapper {
    bottom: 1em;
  }
}

@media (max-width:20em) {
  .site-header-nav .site-header-nav-item {
    min-width: 20%
  }
  .collection-head .collection-info .meta-info {
    display: block;
    margin-top: 15px
  }
}

